#root {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

/*Estilos para el navbar*/
nav {
  padding: 10px;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.list_content {
  display: none;
  position: absolute;
  background-color: rgb(221, 203, 203);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 8px;
  list-style: none;
}

/*Hover para categorias de vinos*/
.list_content {
  display: none;
  position: absolute;
}
.list_nav:hover .list_content {
  display: block;
}

/*Estilo para el cartwidget*/
.cartwidget {
  color: red;
}